{% extends 'seememe/base.html' %}
{% block content %}

<div id="typing">
    <h2 align="center" class="newtext"><span class="write"> </span><span id="typed"
            style="color: rgb(46, 58, 170);"></span> </h2>
</div>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script>
    var typed = new Typed('#typed', {
        strings: ["Share Memes", "Share Love", "Share Happiness", "Share Friendship", "शेयर मीमस", "शेयर लव", "शेयर फ्रेंडशिप", "शेयर हैप्पीनेस"],
        backSpeed: 60,
        typeSpeed: 60,
        loop: true
    });
</script>
</div>
<br>
<br>

<div class="card mx-auto border-success mb-3" id="memes" style="width: 20rem;">
    <div class="card-header"> </div>
    <img src="{{form.url}}" class="card-img-top" alt="meme" />
    <div class="card-body">
        <h3 align="center" class="card-title">{{ form.name }}</h3>
        <p align="center" class="card-text">{{ form.caption }}</p>
    </div>
</div>

{% if messages %}
<br>
<br>
{% for message in messages %}
<h4 align="center" style=color:rgb(44, 228, 44)>{{ message }}</h4>
{% endfor %}
{% endif %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="caption">Caption</label>
                <textarea name="caption" class="form-control" id="caption" required>{{ form.caption }}</textarea>
            </div>
            <br>
            <div class="form-group">
                <label for="url">Meme Url</label>
                <input type="text" name="url" class="form-control" id="url" value='{{ form.url }}' required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Edit and Submit</button>
            <br>
            <br>
        </form>
    </div>
</div>


{% endblock %}