{% extends 'seememe/base.html' %}
    {% block content %}
        <div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
            {% for post in posts %}
                <div class="card mx-auto mb-3" id="memes" style="width: 20rem;">
                    <div class="card-header"> </div>
                    <img src="{{post.url}}" class="card-img-top" alt="meme">
                    <div class="card-body">
                        <h3 class="card-title">{{ post.name }}</h3>
                        <p class="card-text">{{ post.caption }}</p>
                    </div>
                    </div>
                
            {% endfor %}
        </div>
    </div>
    {% endblock %}   