{% extends 'postmeme/base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">

    <div id="typing">
        <h2 align="center" class="newtext"><span class="write"> </span><span id="typed"
                style="color: rgb(46, 58, 170);"></span>
        </h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script>
        var typed = new Typed('#typed', {
            strings: ["Share Memes", "Share Love", "Share Happiness", "Share Friendship", "शेयर मीमस", "शेयर लव", "शेयर फ्रेंडशिप", "शेयर हैप्पीनेस"],
            backSpeed: 60,
            typeSpeed: 60,
            loop: true
        });
    </script>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Enter your good name" required>
            </div>
            <br>
            <div class="form-group">
                <label for="caption">Caption</label>
                <textarea name="caption" class="form-control" id="caption" placeholder="Enter a small and catchy caption" required></textarea>
            </div>
            <br>
            <div class="form-group">
                <label for="url">Meme Url</label>
                <input type="text" name="url" class="form-control" id="url" placeholder="Enter the image url link" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
            <br>
            <br>
            {% if messages %}
            {% for message in messages %}
            <p style=color:rgb(44, 228, 44)>{{ message }}</p>
            {% endfor %}
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}